*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    }

header{
    background-color: #F6C6D7;
    width: 100%;
    padding-bottom: 1em; 
    padding-top: 2em; 
    }

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    }

a:hover{
    text-decoration: underline;
    }

header ul li a{
    font-size: 1.3em;
    color: #DE1264;
    text-decoration: none;
    font-weight: bolder;
    }

.logo{
    padding-top: 0em;
    width: 5em; 
    }

h1.home {
    background-size: cover;
    padding: 1.8em;
    background-image:url(../links/homefoto.jpg);
    }

h1 {
    font-size: 1.7em;
    }

.groter{
    font-size: 1.5em;
    display: block;
    font-family: 'Permanent Marker', Arial, Helvetica;
    }

h1, h1 span{
    font-family: 'Permanent Marker', Arial, Helvetica;
    text-align: center;
    color: #fff;
    }

h2{
    font-family: 'Permanent Marker', Arial, Helvetica;    
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.3em;
    }

.donkerroze{
    color:#DE1264;
    }

.lichtroze{
    color:#F194A9;
    }

p{
    margin: 1em 2.2em 1em 2.2em; 
    font-size: 1em;
    }

.fotolinks{
    width: 10em;
    margin-left: 1em;
    }

.tweecolommen{
    display: flex;
    align-items: center;
    padding: 1em;
    background-image:url(../links/patroonlichtroze.svg);
    }

.fotosnaast{
    display: flex;
    justify-content: center;
    }

.fotosnaast img{
    width: 9.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    }

.achtergrondinfo{
    background-image:url(../links/patroondonkerroze.svg);
    background-size: cover;
    padding: 1.5em;    
    }

.achtergrondervaring{
    background-image:url(../links/patroonlichtrozelanger.svg);
    background-size: cover;
    padding: 1.5em;    
    }

.ervaringfoto{
    width: 21em;
    margin-top: 0.9em;
    }

.content{
    color: #fff;
    background-size: 1px 1px;
    background-color: #F6C6D7;
    margin-left: 1em;
    margin-right: 1em;
    }

.content p{
    font-size: 1.3em;
    margin: 1.5em 0em 2em 1em;
    }

.button{
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 1.5em;
    color:#fff;
    background-color: #DE1264;
    border-radius: 1.2em;
    box-shadow: 0 0.4em 1em -0.5em #000;
    margin-left: 1.7em;
    margin-right: 1.7em;
    }

.button:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0.7em 1em -0.5em #000;
    }

footer{
    background-color: #DE1264;
    padding: 30px;
    }
        
 .socials{
    width: 4em;
    margin-left: 1.7em;    
    }
      
.driecolommen img.nav{
    width: 2.6em;
    display: block;
    }

.driecolommen img{
    width: 7em;
    }

.driecolommen{
    margin-left: 0.5em;
    margin-right: 0.3em;
    }

.locatie{
    display: flex;
    align-items: center;   
    }

.amsterdam a{
    text-decoration: none;
    font-size: 1em;
    color: #000;
    }

.amsterdam{
    margin: 0.2em 0em 0em 0.6em; 
    padding-bottom: 1.5em;
    }

.ervaringkolom{
    background-color: #DE1264;
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding-top: 2em;
    padding-bottom: 2em;
    }

.qrcode{
    width: 8em;
    margin-left: 1.5em;
    }